// colors

$color-white: #fff;
$color-black: #262626;
$color-gray: #dadce0;
$color-background: #f7f7f7;

//fonts

$font-size-root: 1rem; //16px
$font-size-base: $font-size-root * 0.875; //14px
$font-size-sm: $font-size-root * 0.75; //12px

//spacing

$spacer: 1rem;
$spacer-1: $spacer * 0.75;