@import 'src/styles/variables.scss';

.container {
	max-width: 1224px;
	padding: $spacer-1;
	margin: 0 auto;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	

	@media screen and (max-width: 1224px){
		max-width: 100%;
	}

	@media screen and (max-width: 767px) {
		max-width: 33.875rem;
		flex-direction: column;
	}
}

.wrapper {
	margin-left: calc(100vw - 100%);
}