@import 'src/styles/variables.scss';

.story_item {
	padding: 1.25rem;
	border: 1px solid $color-gray;
	border-radius: .5rem;
	margin-bottom: 1.25rem;
	display: flex;
	box-sizing: border-box;
	background-color: $color-white;

	&:last-child {
		margin-bottom: 0;
	}

	@media screen and (max-width: 767px) {
		flex-direction: column;
	}

	&__author {
		font-weight: 700;
		text-decoration: none;
		display: flex;
		font-size: $font-size-base;
		flex-grow: 1;
		align-items: flex-end;

		@media screen and (max-width: 767px) {
			margin-top: $spacer-1;
			order: 2;
		}

		&__karma {
			margin: 0 0 0 $spacer;
			font-weight: 500;
		}
	}
	
	&__image {
		max-width: 200px;
		
		@media screen and (max-width: 767px) {
			margin-bottom: $spacer;
			max-width: 500px;
		}
		
		img {
			border-radius: .5rem;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	&__content {
		margin-left: $spacer;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: 767px) {
			margin-left: 0;
		}
	}

	&__title {
		margin: 0.625rem 0 $spacer;
		text-decoration: none;
		color: $color-black;

		&:hover {
			text-decoration: underline;
		}
		
		@media screen and (max-width: 767px) {
			margin-top: 0;
			order: 0;
		}
	}
	
	&__score {
		font-size: $font-size-sm;
		margin-left: $spacer;
	}

	&__heading {
		display: flex;

		@media screen and (max-width: 767px) {
			order: 1;
		}
	}

	&__created {
		font-size: $font-size-sm;
	}
}